*{
	margin: 0;
	padding-left: 0px;
}

.boxmodel{
	
	float: right;
	width: 400px;
	height:400px;
	font-style: italic;
	float: right;
	padding-top: 50px;
	padding-right:50px;


}
.boxmodel p{
	border: 1px solid;
	padding: 15px;

}